*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: orange;
    width: 0 auto;
    margin: 0 auto;
}
.main{
    border: 5px solid black;
    margin: 10px;
    margin-bottom: none;
    padding: 0 auto;
    background-color: rgb(204, 157, 226);
    width: 0 auto;
}
.btmenu{
    font-weight: bold;
    border: 3px solid black;
    margin: 10px;
    margin-right: 1750px;
    padding: 10px;
    border-radius: 10px 10px;
    background-image: linear-gradient(#ff8c00, yellow,#ff8c00);
    cursor: pointer;
}
.menulist{
    padding: 10px;
    margin: 5px;
    width: 0 auto;    
}
.minilogo{
    display: inline-block; 
    max-width: 100px;
}
.lado{
    display: inline-block; 
    margin-left: 15px;
}
.logocentral{
    margin: 0 auto;
    padding: 10px 10px;
    border: 3px solid black;
    border-radius: 10px 10px;
    background-color:yellow;
    max-width: 1750px auto;
    height: 300px;
    display: inline-flex;
}
.logoamigao{
    width: 80vw;
    margin: 0 auto;
    display: inline-flex;
  
}
.bxadote{
    margin-top: 100px;
    margin-bottom: 100px;
}
.tituloadote{
    font-weight: bolder;
    font-style: initial;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.bxadote2{
    margin: 10px;
    padding: 10px;
}
.bt1{
    margin-top: none;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px 10px;
    border: 1.5px solid #ff8c00 ;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
    
}
.imgcachorro2{
    max-width: 850px;
    max-height: 500px;
    position: absolute;
    top: 850px;
    left: 1050px;
}
.imgcachorro1{
    max-width: 750px;
    max-height: 450px;
    border: 2px black solid;
    position: absolute;
    top: 1200px;
    left:150px;
}
.titulo1{
    font-weight: bolder;
    font-style: initial;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    margin: 20px;
    position: relative;
    left: -550px;
    
}
.titulo2{
    font-weight: bolder;
    font-style: initial;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    margin: 20px;
    position: relative;
    top: 230px;
    left: 550px;
    width: 400px;
    display: inline;
}
.titulo3{
    font-weight: bolder;
    font-style: initial;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    margin: 20px;
    position: relative;
    left: -550px;
    
}
.bxparagrafo1{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color:#ff8c00;
    max-width: 650px;
    display: inline-flex;
    position: relative;
    top: auto;
    left: -550px;
}
.bxparagrafo2{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color:#ff8c00;
    max-width: 650px;
    display: inline-flex;
    position: relative;
    top: 245px;
    left: 550px;
}
.bxparagrafo3{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color:#ff8c00;
    max-width: 650px;
    display: inline-flex;
    position: relative;
    top: auto;
    left: -550px;
}
.paragrafo1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align:left;
    width: 600px;
}
.bxsejavoluntario{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 96vw;
    text-align: center;
}
.circulo1{
    width: 400px;
    height: 400px;
    border: 5px black solid;
    margin: 50px;
    background-image: url(doguinho/v5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 50%;
}
.circulo2{
    width: 400px;
    height: 400px;
    border: 5px black solid;
    margin: 50px;
    background-image: url(doguinho/v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 50%;
}
.circulo3{
    width: 400px;
    height: 400px;
    border: 5px black solid;
    margin: 50px;
    background-image: url(doguinho/v3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 50%;
}
aside{
    display:inline-flex;
    padding: 10px;
    margin: 10px 10px;
}
.paragrafo2{
    font: status-bar;
    font-size: 26px;
    font-style: normal;
    font-display: 100px;
    text-align: justify;
    /* border: black 1px solid; */
    max-width: 650px;
    display: inline-block
}
.bt2{
    margin: 10px 10px;
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 10px 10px;
    border: 1.5px solid #ff8c00;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}
.bxadote3{
    border: black solid 2px;
    border-left: none;
    border-right: none;
}
.orde{
    display: inline-flex;
}
.titulo{
    font-weight: bolder;
    font-style: initial;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    margin: 20px;
}
.paragrafo3{
    font: status-bar;
    font-size: 26px;
    font-style: normal;
    font-display: 100px;
    text-align: justify;
    /* border: black 1px solid; */
    max-width: 650px;
    display: inline-block;
    margin-bottom: 50px;
}
.boxnossoamigo1{
    font-family: monospace;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.boxnossoamigo2{
    display:inline-block;
    border: 4px solid black;
    border-radius: 10px 10px;
    background-color: blueviolet;
    margin-bottom: 10px;
}
.fotoca{
    width: 350px;
    height: 180px;
    border: 1px solid black;
    margin-top: none;
}
.p1{
    line-height: 20px;
    margin-top: 10px;
    text-align:left ;
    margin-left: 5px;
    color: cornsilk;
}
.bt4{
    margin: 10px 10px;
    margin-top: 35px;
    padding: 10px 10px;
    border-radius: 10px 10px;
    border: 1.5px solid yellow ;
    background-color:#ff8c00;
    cursor: pointer;
    font-weight: bold;
}
.bt5{
    margin: 10px 10px;
    margin-top: 35px;
    padding: 10px 10px;
    border-radius: 10px 10px;
    border: 1.5px solid #ff8c00;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}
footer{
    border: 5px solid black;
    margin: 10px;
    margin-top: none;
    padding: 4px;
    height: 300px;
    background-color: rgb(204, 157, 226);
}
.boxsocial{
    border: none;    
    background-color: none;
    padding-left: none;
    padding-right: none;
    width: 500px;
    position: relative;
    top: 100px;
    right: 120px;
    margin: 10px;
}
.btsocial{
    text-decoration:none;
    background-color:transparent;
    border:none;
}
.cursor{
    cursor: pointer;
}
.email{
    text-align: center;
    padding-left: none;
    padding-right: none;
    width: 500px;
    position: relative;
    top: 100px;
    left: -110px;
}
.horario{
    padding-left: none;
    padding-right: none;
    width: 400px;
    position: relative;
    top: 15px;
    left: 1425px;
}
.dias{
    padding-left: none;
    padding-right: none;
    width: 400px;
    position: relative;
    top: 25px;
    left: 1425px;   
}
.endereço{
    text-decoration: none;
    font-family: none;
    padding-left: none;
    padding-right: none;
    max-width: 500px;
    text-align: center;
    position: relative;
    top: -80px;
    left: 680px;
}
.direitos{
    padding-left: none;
    padding-right: none;
    max-width: 500px;
    text-align: center;
    position: relative;
    top: 1px;
    left: -20px;
}
.btfixed{
    font-weight: bold;
    position:fixed;
    bottom: 10px;
    right: 20px;
    width: 100px;
    border: black 2px solid;
    border-radius: 10px 10px;
    background-image: linear-gradient(#ff8c00, yellow,#ff8c00);
}




























































































/* .box1{
    border: 100px solid rgb(255, 10, 10); 
    width: 400px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
.title1{
    margin: 10px;
    padding: 10px;
} */
/* .box3{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color:orangered;
} */
/* .lul{
    display: inline-block;
}
.bt{
    background-color: hotpink;
    border: 2px solid #25692A;
    border-inline-style: 12px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
}
.boxA{
    border: chocolate 5px solid;
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
}
.span{
    margin-right: 40px;
    padding: 0,5px;
    border: black 2px solid;
}
.img{
    display: inline-block;
    background-color: darkslateblue;
    border: 4px rgb(116, 116, 148) solid;
    border-radius: 4%;
    width: 150px;
    margin: 1px;
    padding: 5px;
}
.circulo{
    width: 200px;
    height: 200px;
    border: 10px;
    margin: 50px;
    background-color: blue;
    background-image: url(doguinho/2.jpg);
    border-radius: 50%;
}
.bt-vm{
border-color: #f61f0e;
background:linear-gradient(to bot tom, #fca8a1 5%, #f61f0e 100%) ;
box-shadow: inset 0px 1px 0px 0px #fff4f3;
color: #fff;
text-shadow: 0px ´1px 0px #528009;
} */ 